---
layout: page
---
<div class="report-container">
{% for report in site.reports %}
  {% if report.featured %}
    <article class="card usa-width-one-third">
      <a class="card-link" href="{{ report.url | prepend: site.baseurl }}" aria-hidden="true" tabindex="-1"></a>
      {% if report.image_thumbnail %}
      <div class="card-image"
           style="background-image: url({{ report.image_thumbnail | prepend: site.baseurl }});">
      </div>
      {% elsif report.image %}
      <div class="card-image"
           style="background-image: url({{ report.image | prepend: site.baseurl }});">
      </div>
      {% endif %}
      <div class="card-banner">
        <h3 class="card-description">
          <span>{{ report.title }}</span>
        </h3>
        <p class="card-summary">{{ report.summary }}</p>
      </div>
      <a class="card-read" href="{{ report.url | prepend: site.baseurl }}">
        Read more
        <span class="usa-sr-only">about {{ report.title }}</span>
      </a>
    </article>
  {% endif %}
{% endfor %}
</div>
