body,
p, ul, ol, li, a  {
  color: $text-color;
}

legend, label,
h1, h2, h3, h4, h5, h6 {
  color: $headers-color;
}

.usa-section-dark {
  legend, label,
  h1, h2, h3, h4, h5, h6,
  p {
    color: $reverse-text-color;
  }
}

legend,
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

ul, li {
  margin-bottom: 0;
}

form {
  max-width: 100%;
}
.usa-section p,
.usa-section > ul,
.usa-section > ol,
.usa-section > h1,
.usa-section > h2,
.usa-section > h3,
.usa-section > h4,
.usa-section > h5,
.usa-section > h6 {
  max-width: 62.5rem;
}

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
  &:active {
    color: $link-active-color;
  }
  &:visited {
    color: $link-visited-color;
  }
}

h1, h2, h3, h4, h5, h6 {
  a {
    text-decoration: none;
  }
}

#main:focus {
  outline: none;
}

@media (min-width: 600px) {
  .usa-width-one-whole.usa-section {
    position: relative;
    left: 50%;
    max-width: 62.5rem;
    margin-left: -31.25rem;
  }
}

.label {
  font-weight: bold;
  color: #323a45;
  &:before {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    background-color: $accent-color-light;
    border-radius: 100px;
  }
  &.newsroom {
    &:before {
      padding: 3px 4px;
      content: url('/assets/img/icon-newspaper.svg');
    }
  }
  &.events:before {
    padding: 0.25rem 0.35rem;
    content: url('/assets/img/icon-calendar.svg');
  }
}

.post {
  margin-top: 8rem;
  &:first-child{
    margin-top: 0;
  }
}

.post--label {
  display: inline-block;
  border-right: 1px dotted #323a45;
  padding-right: 8px;
  margin-right: 5px;
  margin: 0; //override p margin
  + .post--date {
    padding-left: 2px;
  }
}

.post--date {
  display: inline-block;
  color: #323a45;
  margin: 0; //override p margin
  + h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.post--article-link {
  margin-top: 1.5rem;
  font-weight: bold;
}
