/* from old template */
.hero-unit {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  min-height: 32rem;
  position: relative;
}
.hero-content {
  background-color: transparentize($text-color, .6);
  bottom: 20px;
  left: 50%;
  margin-left: -30%;
  padding-top: 20px;
  position: absolute;
  text-align: center;
  width: 60%;
}
.hero-content h1 {
  color: white;
  font-size: 36px;
  font-weight: 100;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: .3em;
  padding-right: .3em;
}
.hero-content .usa-button {
  font-size: 22px;
  line-height: 30px;
}

.usa-hero.pclob-hero-image {
  background-position: 0% 0%;
  background-image: url('#{$baseurl}#{$featured-image-small}') !important;
}

.hero-photo-credit p,
.hero-photo-credit a {
  color: $reverse-text-color;
}

@media screen and (min-width: 1000px) {
  .usa-hero.pclob-hero-image {
    background-image: url('#{$baseurl}#{$featured-image-large}') !important;
  }
}
@media screen and (min-width: $on-laptop) {
  .usa-hero.pclob-hero-image {
    background-image: url('#{$baseurl}#{$featured-image-medium}') !important;
  }
}

@media screen and (min-width: 481px) {
  /* from wds */
  .usa-hero-callout {
    max-width: 35rem;
    h2 {
      font-size: 2.5rem;
      line-height: 1.5;
    }
    h3 {
      line-height: 1.45;
    }
  }
  .usa-hero .usa-grid {
    position: relative;
  }
  .hero-photo-credit {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 3rem 0 0;
  }
}

@media screen and (max-width: 550px) {
  .usa-hero-callout {
    margin-top: 4rem; // to visually account for room occupied by photo credit at bottom
    &.usa-section-dark {
      background-color: rgba(17,46,81, 0.6);
    }
    .usa-button {
      margin-top: 0;
    }
  }
  .hero-photo-credit p {
    font-size: 1.3rem;
  }
}
