@media all and (min-width: 951px) {
  .usa-header-basic .usa-navbar {
    // this affects the size of the logo and also the mobile menu nav
    /*width: 50%;*/
  }
}

@media all and (max-width: 951px) {
  #logo img {
    // keep header img from overflowing menu bar
    max-height: 3.7rem;
  }
}

.usa-nav-primary a:hover {
  color: $button-color;
}

.usa-nav-link:hover span {
  border-bottom-color: $button-color;
}

.usa-logo-text a {
  display: flex;
  justify-content: space-between;
  img {
    flex-grow: 1;
    max-height: 75px;
    padding-right: 1rem;
  }
  h1 {
    flex-grow: 3;
    font-size: 2rem; //$h3-font-size
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.usa-nav-submenu a:visited {
  color: $reverse-text-color;
}

@media screen and (min-width: 951px) {
  .usa-header-extended .usa-logo {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
}
