.page--banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  width: 100%;
}
.caption {
  float: right;
}

p {
  /*max-width: none !important;*/
}

h1.page-title {
  margin-top: 1rem!important;
  margin-bottom: 4rem!important;
}
