.page--banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  width: 100%;
}
.caption {
  float: right;
}

p {
  /*max-width: none !important;*/
}

h1.page-title {
  margin-top: 1rem!important;
  margin-bottom: 4rem!important;
}

.sidebar {
  background-color: $gray-light;
  padding: 2rem 4rem;
}

.usa-button[href$=".pdf"]:after,
.document--download:after {
  content: "";
  width: 14px;
  height: 1.3rem;
  margin-left: 8px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
}

.usa-button[href$=".pdf"]:after,
.usa-button.document--download:after {
  background-image: url('#{$baseurl}/assets/img/icon-download-white.svg');
}

.document--download:after {
  background-image: url('#{$baseurl}/assets/img/icon-download.svg');
}

.post p + .document-download {
  margin-top: 0;
}

.document--download {
  display: inline-block;
}

.foia .usa-button-small.document--download {
  display: block; // FOIA pages have a lot of buttons. This makes them all visually similar
}

.contact--email:before {
  background-image: url('#{$baseurl}/assets/img/icon-email.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.contact--fax:before {
  background-image: url('#{$baseurl}/assets/img/icon-fax.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.contact--phone:before {
  background-image: url('#{$baseurl}/assets/img/icon-phone.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}


.label {
  font-weight: bold;
  color: $gray-darkest;
  &:before {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    background-color: $accent-color-light;
    border-radius: 100px;
  }
}

.post {
  margin-top: 4rem;
  &:first-child,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5 {
    margin-top: 0;
  }
}

.post--label {
  position: relative;
  padding-left: 30px; // this is to accommodate the "badge" icon: 25px wide + 5 spacing
  display: inline-block;
  border-right: 1px dotted $gray-darkest;
  padding-right: 8px;
  margin-right: 5px;
  margin: 0; //override p margin
  + .post--date {
    padding-left: 2px;
  }
  &.newsroom {
    &:before {
      position: absolute; // without this, the badge is slightly off-center from the text due to line-height (I think)
      left: 0;
      padding: 3px 4px;
      content: url('#{$baseurl}/assets/img/icon-newspaper.svg');
    }
  }
  &.events:before {
    position: absolute; // without this, the badge is slightly off-center from the text due to line-height (I think)
    left: 0;
    padding: 0.25rem 0.35rem;
    content: url('#{$baseurl}/assets/img/icon-calendar.svg');
  }

}

.post--date {
  display: inline-block;
  color: #323a45;
  margin: 0; //override p margin
  + h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.post--article-link {
  margin-top: 1.5rem;
  font-weight: bold;
}
