.page--banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  width: 100%;
}
.caption {
  float: right;
}

p {
  /*max-width: none !important;*/
}

h1.page-title {
  margin-top: 1rem!important;
  margin-bottom: 4rem!important;
}

a[href$=".pdf"]:after {
  content: "";
  width: 30px;
  height: 25px;
  display: inline-block;
  background-image: url('/assets/img/icon-pdf.png');
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 10px;
}
