---
layout: base
---

<section class="usa-section usa-grid">
    <h1> {{ page.title }}</h1>
    {% if page.image %}
    <div class="page--banner" style="background-image: url({{ page.image | prepend: site.baseurl }});"></div>
    {% endif %}
    {{ content }}
    </div>
  </div>
  {% for section in page.additional-info %}
  <div class="usa-container-margin">
    <h3>{{ section.heading }}</h3>
    {% if section.summary %}
      <p>{{ section.summary }}
    {% endif %}
    {% if section.links %}
      {% for link in section.links %}
      <div class="post">
        <h4 class="document--download"><a href="{{ link.link }}">{{ link.title }}</a></h4>
        {% if link.amendment %}
        <p><a href="{{ link.amendment-link }}">{{ link.amendment }}</a></p>
        {% endif %}
        <p>{{ link.text }}</p>
        {% if link.related %}
          {% for item in link.related %}
            <a class="document--download" href="{{ item.link }}">{{ item.title }}</a>
          {% endfor %}
        {% endif %}
      </div>
      {% endfor %}
    {% endif %}
    </div>
  {% endfor %}
</section>
