---
layout: base
---


<section class="usa-hero pclob-hero-image">
  <div class="usa-grid">
    <div class="usa-hero-callout usa-section-dark">
      <h3>{{ page.hero-text }}</h3>
      <a class="usa-button usa-button-big usa-button-secondary" href="{{ page.hero-button-link | prepend: site.baseurl }}">{{ page.hero-button-text }}</a>
    </div>
    <div class="hero-photo-credit" style="
    text-align: right;
"><p>Photo credit: <a href="{{ site.feature-image-credit-link }}">{{ site.feature-image-credit }}</a></p></div>
  </div>
</section>


<section>
  <div class="hero-unit" style="display: none; background-image: url('{{ page.hero-image | prepend: site.baseurl }}')">
    <div class="usa-grid">
      <div class="usa-width-whole hero-content">
        <h1>{{ page.hero-text }}</h1>
        <a class="usa-button" href="{{ page.hero-button-link | prepend: site.baseurl }}">{{ page.hero-button-text }}</a>
      </div>
    </div>
  </div>
</section>


<section class="usa-grid usa-section">
  <div class="usa-width-one-whole">
    <h2>Featured Works</h2>
    {% include cards.html %}
  </div>
</section>

{% if page.banner-heading %}
<section class="usa-section banner tagline">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-end-row">
      <h2>{{ page.banner-heading }}</h2>
      {% if page.banner-text %}
        <p>{{ page.banner-text }}</p>
      {% endif %}
      {% if page.banner-button-text %}
      <div class="center-content">
        <a href="{{ page.banner-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.banner-button-text }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

<section class="usa-grid usa-section">
  <div class="usa-width-one-whole usa-end-row">
    {{ content }}
    {% if page.content-button-link %}
      <a href="{{ page.content-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.content-button-text }}</a>
    {% endif %}
  </div>
</section>
