---
layout: base
---

<div class="usa-grid usa-section usa-content">
  <div class="usa-width-three-fourths usa-content">
    <p class="date_published-on"><em>{{ page.date | date: "%B %e, %Y" }}</em></p>
    <h1 class="page-title">{{ page.title }}</h1>
  </div>
  <div class="usa-width-three-fourths usa-content" style="margin-bottom: 1em">
    {{ content }}

  {% if page.links != empty %}
    <h3>Related documents</h3>
    <ul class="usa-unstyled-list">
    {% for link in page.links %}
      {% assign first_char = link.url | truncate: 1, '' %}
      {% if first_char == '/' %}
        {% assign url = link.url | prepend: site.baseurl %}
      {% else %}
        {% assign url = link.url %}
      {% endif %}
      {% assign filetype = url | slice: -3,3 | upcase %}
      {% if filetype == 'PDF' %}
      <li><a class="usa-button document--download" href="{{ url }}">{{ link.text }} ({{ url | slice: -3,3 | upcase }})</a></li>
      {% else %}
      <li><a href="{{ url }}">{{ link.text }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
</div>
