---
layout: base
---

<section class="usa-section usa-grid">
  <h1> {{ page.title }}</h1>
  {{ content }}
</section>
{% for report in site.data.oversight-reports %}
<section class="usa-section usa-grid pclob-report">
  <h3>{{ report.title }}</h3>
  {% for statement in report.related-statements %}
  <a href="{{ statement.permalink }}">{{ statement.title }}</a>
  {% endfor %}
  {% if report.thumbnail %}
  <a href="{{ report.permalink }}"><img src="{{ report.thumbnail | prepend: site.baseurl }}" /></a>
  {% endif %}
  <p>{{ report.summary }}</p>
  <a class="usa-button" href="{{ report.permalink | prepend: site.baseurl}}">Read the report</a>
  {% for attachment in report.attachments %}
    <a href="{{ attachment.url }}">{{ attachment.title }}</a>
  {% endfor %}
</section>
{% endfor %}
