---
layout: base
---

<section class="usa-grid usa-section">
  <div class="usa-width-two-thirds">
    <h2>{{ page.name }}</h2>
    <h3>{{ page.title }}, {{ page.term }}</h3>
    {{ content }}
    {% if page.related-media %}
      {% for type in page.related-media %}
       <h4>{{ type.heading }}</h4>
       {% for item in type.children %}
         <p><a href="{{ item.url }}">{{ item.title }}</a>, {% if item.source %}<em>{{ item.source }}</em>,{% endif %} {{ item.date }}.</p>
       {% endfor %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="usa-width-one-third">
    {% if page.image %}
      <img class="team-image" src="{{ page.image | prepend: site.baseurl }}" alt="{{ page.name }}" />
    {% endif %}
  </div>
</section>
